<h1><%= @description %></h1>


<form action="/output">
  <div class="form-group">
    <label for="queen">queen input</label>
    <input id="q" name="queen" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="piece">piece input</label>
    <input id="p" name="piece" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
